<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>word</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalent</key>
					<string>^h</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>API</string>
					<key>output</key>
					<string>showAsHTML</string>
					<key>script</key>
					<string>drupal-api</string>
					<key>uuid</key>
					<string>1605FC50-0DC7-4A0F-A512-9561A90142A6</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalent</key>
					<string>^c</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Flush caches</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>drupal-flush-all-caches.php</string>
					<key>uuid</key>
					<string>0905A9CF-4C1D-47AC-A615-701A62489C3E</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Run cron</string>
					<key>script</key>
					<string>drupal-run-cron.php</string>
					<key>uuid</key>
					<string>E4B55AF3-2A29-4125-AC93-FF3EDAA2C354</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Create module</string>
					<key>script</key>
					<string>drupal-create-module.php</string>
					<key>uuid</key>
					<string>0B815DF2-287E-4DF1-A1AB-45C597D89862</string>
				</dict>
			</array>
			<key>name</key>
			<string>Drupal</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>document</string>
					<key>keyEquivalent</key>
					<string>^r</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Remove trailing spaces</string>
					<key>output</key>
					<string>replaceDocument</string>
					<key>script</key>
					<string>remove-trailing-spaces</string>
					<key>uuid</key>
					<string>C7AA5A99-BBB8-4973-A398-FC76E09E6723</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>word</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Uppercase</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>uppercase.php</string>
					<key>uuid</key>
					<string>949A000F-D488-410A-846D-5A7139CECB12</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>word</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Lowercase</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>lowercase.php</string>
					<key>uuid</key>
					<string>12D91090-3B32-4126-B3DF-38C5585794EB</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>word</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Slug</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>slug.php</string>
					<key>uuid</key>
					<string>F40D4F48-D8E9-4736-8ABA-915FD1A619CC</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>word</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>MD5</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>md5.php</string>
					<key>uuid</key>
					<string>477680D9-7B57-41B9-8A14-D3895143F6F5</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>word</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Base64 encode</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>base64-encode.php</string>
					<key>uuid</key>
					<string>A8DEA5F9-FE4A-4F07-B103-BD9516B70FF8</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>word</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Base64 decode</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>base64-decode.php</string>
					<key>uuid</key>
					<string>512A0FFF-1420-455E-B07E-053874401A08</string>
				</dict>
			</array>
			<key>name</key>
			<string>Text</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>line</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>URL escape line/selection</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>urlescape</string>
					<key>uuid</key>
					<string>2C145E96-CB91-44B0-B8B7-805F5B73F1D1</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>line</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>URL unescape line/selection</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>urlunescape</string>
					<key>uuid</key>
					<string>46326D8C-2816-4866-9395-40502661764D</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Unordered list</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>unordered-list.php</string>
					<key>uuid</key>
					<string>CD4D067C-EE0A-46AC-BA06-200ADDEE7F30</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Ordered list</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>ordered-list.php</string>
					<key>uuid</key>
					<string>7D940339-CFAE-4A30-8BC4-F3EBBAC2D72B</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Encode entities</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>encode-entities.rb</string>
					<key>uuid</key>
					<string>B55820C0-3CC9-4CDB-AFBD-C02419D026A4</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Decode entities</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>decode-entities.rb</string>
					<key>uuid</key>
					<string>19019DE2-E46D-4304-BC0D-728225E9C175</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Encode entites (exclude tags)</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>encode-entities-exclude-tags.rb</string>
					<key>uuid</key>
					<string>990A9226-44F0-42EC-A441-2ECBD9BB35A4</string>
				</dict>
			</array>
			<key>name</key>
			<string>HTML</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>document</string>
					<key>input</key>
					<string>selection</string>
					<key>keyEquivalent</key>
					<string>^i</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Indent</string>
					<key>output</key>
					<string>replaceSelectedText</string>
					<key>script</key>
					<string>php-indent.php</string>
					<key>uuid</key>
					<string>FC24FBAD-9779-4D30-B9D5-4180C6C56DAF</string>
				</dict>
			</array>
			<key>name</key>
			<string>PHP</string>
		</dict>
	</array>
</dict>
</plist>
