<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalent</key>
			<string>^r</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Remove trailing spaces</string>
			<key>output</key>
			<string>replaceDocument</string>
			<key>script</key>
			<string>remove-trailing-spaces</string>
			<key>uuid</key>
			<string>C7AA5A99-BBB8-4973-A398-FC76E09E6723</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>^h</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Drupal API</string>
			<key>output</key>
			<string>showAsHTML</string>
			<key>script</key>
			<string>drupal-api</string>
			<key>uuid</key>
			<string>1605FC50-0DC7-4A0F-A512-9561A90142A6</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>URL escape line/selection</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>urlescape</string>
			<key>uuid</key>
			<string>2C145E96-CB91-44B0-B8B7-805F5B73F1D1</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>line</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>URL unescape line/selection</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>urlunescape</string>
			<key>uuid</key>
			<string>46326D8C-2816-4866-9395-40502661764D</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Uppercase</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>uppercase.php</string>
			<key>uuid</key>
			<string>949A000F-D488-410A-846D-5A7139CECB12</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Lowercase</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>lowercase.php</string>
			<key>uuid</key>
			<string>12D91090-3B32-4126-B3DF-38C5585794EB</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Slug</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>slug.php</string>
			<key>uuid</key>
			<string>F40D4F48-D8E9-4736-8ABA-915FD1A619CC</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>^c</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Drupal flush caches</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>drupal-flush-all-caches.php</string>
			<key>uuid</key>
			<string>0905A9CF-4C1D-47AC-A615-701A62489C3E</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Drupal create module</string>
			<key>script</key>
			<string>drupal-create-module.php</string>
			<key>uuid</key>
			<string>0B815DF2-287E-4DF1-A1AB-45C597D89862</string>
		</dict>
	</array>
</dict>
</plist>
